
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{PAGE_TITLE}}</li>
        </ol>
    </nav>

    {{!-- <section class="bg-gray">

        <form class="filter">
            <div class="row">
                <div class="col-sm-9">
                    <label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Airport transfer</span>
					</label>
                    <label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Work with children</span>
					</label>
                    <label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Only high rated</span>
					</label>
                    <label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Emergency department</span>
					</label>
                    <label class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input">
						<span class="custom-control-indicator"></span>
						<span class="custom-control-description">Member of MPT insurance program</span>
					</label>
                </div>
                <!--/.col-->

                <div class="col-sm-3">
                    <button type="button" id="btn-more" class="btn btn-secondary float-right" data-toggle="collapse" data-target="#moreFilters">
						<i class="fas fa-angle-down"></i> More filters
					</button>
                </div>
                <!--/.col-->

            </div>
            <!--/.row-->

            <div class="collapse" id="moreFilters">

                <hr />

                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-12">

                        <h3>Funding</h3>
                        <label class="custom-control custom-radio">
							<input id="radio4-1" name="radio4" type="radio" class="custom-control-input" checked="checked">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Any</span>
						</label>
                        <label class="custom-control custom-radio">
							<input id="radio4-2" name="radio4" type="radio" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Public</span>
						</label>
                        <label class="custom-control custom-radio">
							<input id="radio4-3" name="radio4" type="radio" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Commercial</span>
						</label>
                    </div>
                    <!--/.col-->
                    <div class="col-xl-3 col-md-6 col-sm-12">

                        <h3>Location</h3>
                        <label class="custom-control custom-radio">
							<input id="radio2-1" name="radio2" type="radio" class="custom-control-input" checked="checked">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">In your city</span>
						</label>
                        <label class="custom-control custom-radio">
							<input id="radio2-2" name="radio2" type="radio" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">Worldwide</span>
						</label>
                    </div>
                    <!--/.col-->
                    <div class="col-xl-3 col-md-6 col-sm-12">

                        <h3>Sort by</h3>
                        <label class="custom-control custom-radio">
							<input id="radio3-1" name="radio3" type="radio" class="custom-control-input" checked="checked">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">By rating</span>
						</label>
                        <label class="custom-control custom-radio">
							<input id="radio3-2" name="radio3" type="radio" class="custom-control-input">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">By prices</span>
						</label>
                    </div>
                    <!--/.col-->
                    <div class="col-xl-3 col-md-6 col-sm-12">

                        <h3>Max price: <span id="demo"></span> MPT</h3>

                        <input class="justify" type="range" id="myRange">
                        <script>
                            var slider = document.getElementById("myRange");
                            var output = document.getElementById("demo");
                            output.innerHTML = slider.value;

                            slider.oninput = function() {
                              output.innerHTML = this.value;
                            }
                        </script>

                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div>
            <!--/.collapse-->

        </form>

    </section> --}}

    <div class="row">

        <div class="col-xl-4 push-xl-8 col-lg-12 push-lg-0" style="padding-bottom:2em;">

            <nav class="sticky-top">
				<div id="map" style="height:400px">
				</div><!--/.map-->
                <script>
                    var locations = {{{jsonify hospitals}}};
                    var avgCoordinates = {{{jsonify avgCoordinates}}}
                    $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
                        var target = $(e.target).attr("href") // activated tab
                        if (target === '#pills-2') {
                            initLocationsMap(); // google map init function
                        }
                    });

                    function initLocationsMap() {
                        var center = avgCoordinates || {lat: 39.529, lng: -101.369};
                        
                        if (locations.length === 1) {
                            center.lat = locations[0].coordinations.lat;
                            center.lng = locations[0].coordinations.lon;
                        }
                        var map = new google.maps.Map(
                            document.getElementById('map'),
                            {center: center, zoom: 3}
                        );

                        
                        var infowindow = new google.maps.InfoWindow({
                            content: ''
                        });

                        for (var i = 0, length = locations.length; i < length; i++) {
                            var hospital = locations[i];
                            var marker = new google.maps.Marker({
                                position: {lat: hospital.coordinations.lat, lng: hospital.coordinations.lon}, 
                                title: hospital.name,
                                map: map,
                            });

                            google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow){ 
                                return function() {
                                    infowindow.setContent(content);
                                    infowindow.open(map, marker);
                                };
                            })(marker, getInfoWindowContent(hospital), infowindow));  
                        }
                    }

                    function getInfoWindowContent(hospital) {
                        return '<div class="info-window">' + 
                        '<h5>' + (hospital.name || '') + '</h5>' +
                        '<i>' + (hospital.address || '') + '</i><br/>' +
                        '<a href="/clinics/' + hospital.id.toString() + '">View Clinic</a>' 
                        '</div>';
                    }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA839hvZlHkWX80W6YRTuv3C7HToNVZhwc&callback=initLocationsMap">
                </script>
            </nav>

        </div>
        <!--/.col-->

        <div class="col-xl-8 pull-xl-4 col-lg-12 pull-lg-0">

            <ul class="items-list">
                {{#each hospitals as |hospital|}}
                <li>
                    <div class="row">
                        <div class="col-xl-3 col-md-3 col-sm-4">
                            <a class="avatar" href="/clinics/{{hospital.id}}">
                                <div class="crop">
                                    <img src="{{hospital.photos}}" alt="The clinic photo"
                                        onerror="this.onerror=null;this.src='/img/logo_stub.svg';this.style.width='100px';" />
                                </div>
                            </a>
                            {{!-- <div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of insurance points"><i class="fas fa-heartbeat"></i> Insurance</div>
                            <div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of Help foundation"><i class="far fa-life-ring"></i> Help foundation</div> --}}
                        </div>
                        <!--/.col-->
                        <div class="col-xl-5 col-md-5 col-sm-8">
                            <h3><a class="" href="/clinics/{{hospital.id}}">{{hospital.name}}</a> <small>Public</small></h3>
                            <div>
                                {{#each hospital.specializations as |specialization| }}
                                <a href="/clinics?specializationId={{specialization.id}}">{{specialization.name}}</a>&nbsp;
                                {{/each}}
                            </div>
                            <p>
                                <a href="https://www.google.com/maps/search/?api=1&query={{hospital.location.address}}">
                                    {{hospital.location.address}}
                                </a>
                            </p>
                            <div class="row">
                                <div class="col">
									<div class="card">
                                    	<ul>
                                        	{{#each hospital.work_time as |work_time|}}
                                            <li><small>{{ work_time.weekdays }}:</small> <br />{{ work_time.time }}</li>
                                            {{/each}}
                                    	</ul>
									</div><!--/.card-->
                                </div>
                                <!--/.col-->
                                {{!-- <div class="col">
                                    <div class="color-gray" data-toggle="tooltip" data-placement="top" title="Provides a transfer from the airport"><i class="fas fa-plane"></i> Airport transfer</div>
                                    <div class="" data-toggle="tooltip" data-placement="top" title="Available with bus routes"><i class="fas fa-bus"></i> Bus route</div>
                                    <div class="" data-toggle="tooltip" data-placement="top" title="Has free parking"><i class="fas fa-car"></i> Free parking</div>
                                </div> --}}
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                        </div>
                        <!--/.col-->
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="wave text-center">
                                <h4  hidden>Rating <strong class="text-success">9.99</strong></h4>
                                <p  hidden>based on <strong><a class="" href="/clinics/test#opinions">58 opinions</a></strong></p>
                                <a class="btn btn-primary btn-lg justify" href="/doctors/?hospital={{hospital.id}}"><strong>{{defaultIfEmpty hospital.doctors 0}}</strong> doctors</a>
                                <div><a class="" href="/services/?hospital={{hospital.id}}"><strong>{{defaultIfEmpty hospital.services 0}}</strong> services</a></div>
                            </div>
                            <!--/.wave-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </li>
                {{/each}}
            </ul>

			<div class="row pagination-line">
            	<div class="col">
					<nav aria-label="...">
                    {{> pager pagerInfo }}
                </nav>
            	</div>
          	</div>

        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
