{{#pagination pager.pageIndex pager.pages pager.pageSize}}
<ul class="pagination">
{{#unless startFromFirstPage}}
    <a class="page-link" href="{{ ../baseUrl }}?page={{ previousPage }}&size={{ size }}">Previous</a>
{{/unless}}

{{#each pages}}
    {{#if isCurrent}}
    <li class="page-item active">
        <span class="page-link">{{ page }}</span><span class="sr-only">(current)</span></span>
    </li>
    {{/if}}
    {{#unless isCurrent}}
    <li class="page-item"><a class="page-link" href="{{ ../baseUrl }}?page={{ page }}&size={{ ../size }}">{{ page }}</a></li>
    {{/unless}}
{{/each}}

{{#unless endAtLastPage}}
    <a class="page-link" href="{{ ../baseUrl }}?page={{ nextPage }}&size={{ size }}">Next</a>
{{/unless}}
</ul>
{{/pagination}}