<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">{{localize 'breadcrumbs.home'}}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/account">{{localize 'breadcrumbs.account'}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{localize 'breadcrumbs.accountRecords'}}</li>
    </ol>
</nav>

<ul class="items-list">

    {{#each transactions as |transaction|}}
    <li>
        <h3>{{transaction.Date}}
            <a href="/clinics/{{transaction.ClinicInfo.id}}">{{transaction.ClinicInfo.name}}</a>
            <small>Public</small>
            {{!--
            <a class="btn-bell1 float-right">
                <i class="fas fa-bell text-success"></i>
            </a> --}}
        </h3>
        <p>
            <a href="https://www.google.com/maps/embed/place?key=1&q={{transaction.ClinicInfo.location.address}}" data-name="{{transaction.ClinicInfo.name}}"
                class="map-toggle">
                {{transaction.ClinicInfo.location.address}}
            </a>
        </p>
        <ul class="stiled-list">
            <li>
                <h4>{{transaction.ServiceInfo.name}}</h4>
                {{!--
                <div>at 8:00 AM office 22</div> --}}
                <div>Terapist
                    <a href="/doctors/{{transaction.DoctorInfo.id}}">{{transaction.DoctorInfo.name}}</a>
                </div>
            </li>
        </ul>
        {{!--
        <p>Total cost
            <strong>3 MPT</strong>
        </p> --}}
        <div class="card">
            <ul>
                <li>Transaction code
                    <span id="transactionId" class="breakable">{{transaction.Id}}</span>
                </li>
                <li>
                    <a class="copy-link btn-copy1" onclick="copyToClipboard($('#transactionId'))">
                        <i class="far fa-copy"></i>
                        {{localize 'common.copy'}}</a> /
                    <a href="#" data-toggle="modal" data-target="#sorry">Check in blockchain explorer</a>
                </li>
                <li>Transaction status
                    <span class="text-info">In progress</span>
                </li>
            </ul>
        </div>
        <!--/.card-->

    </li>
    {{/each}}

</ul>
<!--/.-->

<div class="row pagination-line">
    <div class="col">
        {{> pager pagerInfo }}
    </div>
    <!--/.col-->
</div>
<!--/.row-->