<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.account'}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
        <h4>{{localize req 'account.period'}}</h4>

        <label class="date-control">
            <span>{{localize req 'account.recordsPage.from'}}</span>
            <input class="form-control date-picker" type="date" value="{{dates.from}}" data-side="from">
        </label>
        

        <label class="date-control">
            <span>{{localize req 'account.recordsPage.to'}}</span>
            <input class="form-control date-picker" type="date" value="{{dates.to}}" data-side="to">
        </label>
    </div>
</div>

<div class="row">

    <div class="col-xl-3 push-xl-9 col-lg-4 push-lg-8 col-md-5 push-md-7 col-sm-12 push-sm-0">
        <nav class="sticky-top">

            <div class="account-menu">

                <ul class="list-group">
                    <li class="list-group-item active">
                        <a href="/account">{{localize req 'account.sidebar.appointments'}} <span class="badge">{{appointmentsCount}}</span></a>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/records">{{localize req 'account.sidebar.records'}} <span class="badge">{{recordsCount}}</span></a>
                        <ul>
                            <li><a href="/account/add-record"><i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addRecord'}}</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
						<a href="#" data-toggle="modal" data-target="#sorry"><b>MPT</b> = 120
							<span class="badge">+ 0</span>
						</a>
						<ul>
							<li>
								<a href="#" data-toggle="modal" data-target="#sorry">
									<i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addBalance'}}</a>
							</li>
						</ul>
					</li>
                    <li class="list-group-item">
                        <a href="/account/favorites">{{localize req 'account.sidebar.favourites'}}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/account-tickets">{{localize req 'account.sidebar.support'}}
                        <span class="badge">{{ticketsCount}}</span>
                        </a>
                        <ul>
                            <li><a href="/add-ticket"><i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addTicket'}}</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/edit"><i class="fas fa-cog"></i> {{localize req 'account.sidebar.editProfile'}}</a>
                    </li>
                </ul>

            </div>
            <!--/.account-menu-->
        </nav>
    </div>
    <!--/.col-->

    <div class="col-xl-9 pull-xl-3 col-lg-8 pull-lg-4 col-md-7 pull-md-5 col-sm-12 pull-sm-0">
        {{#if transactions}}
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab"
                    aria-controls="pills-1" aria-selected="true"><i class="fas fa-list"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2"
                    aria-selected="false"><i class="far fa-calendar-alt"></i></a>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                <ul class="items-list">

                    {{#each transactions as |transaction|}}
                    <li class="transaction-row" data-date="{{transaction.Date}}">
                        <h3>{{transaction.Date}} <a href="/clinics/{{transaction.ClinicInfo.id}}">{{transaction.ClinicInfo.name}}</a>
                            <small>Public</small>
                            {{!-- <a class="btn-bell1 float-right"><i class="fas fa-bell text-success"></i></a> --}}
                        </h3>
                        <p>
                            <a href="https://www.google.com/maps/embed/place?key=1&q={{transaction.ClinicInfo.location.address}}" data-name="{{transaction.ClinicInfo.name}}" class="map-toggle">
                                {{transaction.ClinicInfo.location.address}}
                            </a>
                        </p>
                        <ul class="stiled-list">
                            <li>
                                <h4>{{transaction.ServiceInfo.name}}</h4>
                                {{!-- <div>at 8:00 AM office 22</div> --}}
                                <div>Terapist <a href="/doctors/{{transaction.DoctorInfo.id}}">{{transaction.DoctorInfo.name}}</a></div>
                            </li>
                        </ul>
                        {{!-- <p>Total cost <strong>3 MPT</strong></p> --}}
                        <div class="card">
                            <ul>
                                <li>Transaction code <span id="transactionId" class="breakable">{{transaction.Id}}</span></li>
                                <li><a class="copy-link btn-copy1" onclick="copyToClipboard($('#transactionId'))"><i class="far fa-copy"></i>
                                        Copy</a> / <a href="#" data-toggle="modal" data-target="#sorry">Check in
                                        blockchain explorer</a></li>
                                <li>Transaction status <span class="text-info">In progress</span></li>
                            </ul>
                        </div>
                        <!--/.card-->

                    </li>
                    {{/each}}

                </ul>
                <!--/.-->

                <div class="row pagination-line">
                    <div class="col">
                        {{> pager pagerInfo }}
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->

            </div>
            <!--/.tab-pane-->
            <div class="tab-pane fade" id="pills-2" role="tabpane2" aria-labelledby="pills-profile-tab">
               <div id="my-calendar"></div>
                <!-- Сalendar -->
                <script src='/js/src/calendar.js'></script>
                <script type="application/javascript">
                    $(document).ready(function () {
                        var calendarData = {{{jsonify appointmentsData}}};
                        $("#my-calendar").zabuto_calendar({
                            data: calendarData,
                            modal: true,
                            action: function () {
                                var date = this.title;
                                if (!date) {
                                    return;
                                } 

                                var item = {};
                                for (var i = 0, length = calendarData.length; i < length; i++) {
                                    if (calendarData[i].date === date) {
                                        item = calendarData[i];
                                        break;
                                    }
                                }

                                $('#calendarDetilsTitle').html(item.title);
                                $('#calendarDetilsBody').html(item.body);
                                $('#calendarDetils').modal('show');
                            },
                        });
                    });
                </script>

            </div>
            <!--/.tab-pane-->
        </div>
        <!--/.tab-content-->
        {{else}}
            <h2>{{localize req 'account.noAppointments'}}</h2>
        {{/if}}
        <hr />

    </div>
    <!--/.col-->
</div>
<!--/.row-->

<script>
$(document).ready(function() {

    const filterDate = function(event) {

        let from = (this.dataset.side === "from") 
        ? new Date(event.target.value)
        : new Date(document.querySelector(`.date-picker[data-side="from"]`).value);

        let to = (this.dataset.side === "from") 
        ? new Date(document.querySelector(`.date-picker[data-side="to"]`).value)
        : new Date(event.target.value);

        if (from > to) {
            this.value = event.target.defaultValue;

            if (this.dataset.side === "from") {
                from = new Date(this.value);
            } else {
                to = new Date(this.value);
            }
        }

        const rows = document.querySelectorAll(".transaction-row");

        for (const row of rows) {
            const date = new Date(row.dataset.date);
            if (date < from || date > to) {
                row.style.display = "none";
            } else {
                row.style.display = null;
            }
        }
        
    }

    document.querySelectorAll('.date-picker').forEach(el => el.addEventListener("change", filterDate));

});
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA839hvZlHkWX80W6YRTuv3C7HToNVZhwc">
</script>