<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">{{localize req 'breadcrumbs.home'}}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/account">{{localize req 'breadcrumbs.account'}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.accountBalance'}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col-xl-3 push-xl-9 col-lg-4 push-lg-8 col-md-5 push-md-7 col-sm-12 push-sm-0">
        <nav class="sticky-top">
            <div class="account-menu">

                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/account">{{localize req 'account.sidebar.appointments'}} <span class="badge">{{appointmentsCount}}</span></a>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/records">{{localize req 'account.sidebar.records'}}
                            <span class="badge">{{recordsCount}}</span>
                        </a>
                        <ul>
                            <li><a href="/account/add-record"><i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addRecord'}}</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item active">
                        <a href="/account/balance"><b>MPT</b> = {{tokensCount}}</a>
                        <ul>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#addBalance">
                                    <i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addBalance'}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/favorites">{{localize req 'account.sidebar.favourites'}}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/account-tickets">{{localize req 'account.sidebar.support'}}
                        <span class="badge">{{ticketsCount}}</span>

                        </a>
                        <ul>
                            <li>
                                <a href="/add-ticket">
                                    <i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addTicket'}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/foundations">{{localize req 'account.sidebar.foundations'}} <span class="badge">{{foundationsCount}}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/edit">
                            <i class="fas fa-cog"></i> {{localize req 'account.sidebar.editProfile'}}</a>
                    </li>
                </ul>

            </div>
            <!--/.account-menu-->
        </nav>
    </div>


    <div class="col-xl-9 pull-xl-3 col-lg-8 pull-lg-4 col-md-7 pull-md-5 col-sm-12 pull-sm-0"> 
        
        <div class="table-responsive">
                    <table summary="" class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <h5>{{localize req 'account.balancePage.direction'}}</h5>
                                </th>
                                <th>
                                    <h5>{{localize req 'account.balancePage.value'}}</h5>
                                </th>
                                <th>
                                    <h5>{{localize req 'account.balancePage.time'}}</h5>
                                </th>
                                <th>
                                    <h5>{{localize req 'account.balancePage.transactionInfo'}}</h5>
                                </th> 
                            </tr>
                        </thead>
                        <tbody> 
                            {{#each transactions as |transaction|}}
                            <tr>
                                <td class="{{transaction.classes.alert}} text-center">
                                    <i class="fas {{transaction.classes.fa}}"></i>
                                    <div>{{transaction.name}}</div>
                                </td>
                                <td class="price-td"><strong class="text-dark">${{transaction.balanceUSD}}</strong><br /><strong class="text-success">{{transaction.balanceToken}} MPT</strong></td>
                                <td>{{transaction.date}} <strong>{{transaction.time}}</strong></td>
                                <td> 
                                    <div class="card">
                                        <ul>
                                            <li>{{localize ../req 'transactions.code'}}: <span id="{{transaction.transactionId}}">{{transaction.transactionId}}</span></li>
                                            <li><a class="copy-link btn-copy1" onclick="copyToClipboard('#{{transaction.transactionId}}')"><i class="far fa-copy"></i> {{localize ../req 'transactions.copy'}}</a> / <a href="#" data-toggle="modal" data-target="#sorry">{{localize ../req 'transactions.check'}}</a></li>
                                            <li>{{localize ../req 'transactions.status'}}: <span class="text-success">{{localize ../req 'transactions.inProgress'}}</span></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!--end of .table-responsive--> 
        
    </div>
    <!--/.col-->
</div>
<!--/.row-->
    