<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">{{localize req 'breadcrumbs.home'}}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/account">{{localize req 'breadcrumbs.account'}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.accountRecords'}}</li>
    </ol>
</nav>

<div class="row">
    <div class="col">
        <h4>{{localize req 'account.recordsPage.types'}}</h4>
        <label class="custom-control custom-radio">
            <input name="filterRecords" value="all" type="radio" class="custom-control-input filter-item" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{localize req 'account.recordsPage.all'}}</span>
        </label>
        <label class="custom-control custom-radio">
            <input name="filterRecords" value="linked" type="radio" class="custom-control-input filter-item" >
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{localize req 'account.recordsPage.linked'}}</span>
        </label>
        <label class="custom-control custom-radio">
            <input name="filterRecords" value="separate" type="radio" class="custom-control-input filter-item" >
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{localize req 'account.recordsPage.separate'}}</span>
        </label>
    </div>

    <div class="col">
        <h4>{{localize req 'account.recordsPage.periodLinked'}}</h4>

        <label class="date-control">
            <span>{{localize req 'account.recordsPage.from'}}</span>
            <input class="form-control date-picker" type="date" value="{{dates.linked.from}}" data-type="linked" data-side="from">
        </label>
        

        <label class="date-control">
            <span>{{localize req 'account.recordsPage.to'}}</span>
            <input class="form-control date-picker" type="date" value="{{dates.linked.to}}" data-type="linked" data-side="to">
        </label>
    </div>

    <div class="col">
        <h4>{{localize req 'account.recordsPage.periodSeparate'}}</h4>

        <label class="date-control">
            <span>{{localize req 'account.recordsPage.from'}}</span>
            <input class="form-control date-picker" type="date" value="{{dates.separate.from}}" data-type="separate" data-side="from">
        </label>


        <label class="date-control">
            <span>{{localize req 'account.recordsPage.to'}}</span>
            <input class="form-control date-picker" type="date" value="{{dates.separate.to}}" data-type="separate" data-side="to">
        </label>
    </div>
</div>

<div class="row continer-wrapper">

	<div class="col-xl-3 push-xl-9 col-lg-4 push-lg-8 col-md-5 push-md-7 col-sm-12 push-sm-0">
		<nav class="sticky-top">
			<div class="account-menu">

				<ul class="list-group">
					<li class="list-group-item">
						<a href="/account">{{localize req 'account.sidebar.appointments'}} <span class="badge">{{appointmentsCount}}</span></a>
					</li>
					<li class="list-group-item active">
						<a href="/account/records">{{localize req 'account.sidebar.records'}}
							<span class="badge">{{recordsCount}}</span>
						</a>
						<ul>
							<li><a href="/account/add-record"><i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addRecord'}}</a></li>
						</ul>
					</li>
                    <li class="list-group-item">
						<a href="#" data-toggle="modal" data-target="#sorry"><b>MPT</b> = 120
							<span class="badge">+ 0</span>
						</a>
						<ul>
							<li>
								<a href="#" data-toggle="modal" data-target="#sorry">
									<i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addBalance'}}</a>
							</li>
						</ul>
					</li>
					<li class="list-group-item">
						<a href="/account/favorites">{{localize req 'account.sidebar.favourites'}}</a>
					</li>
					<li class="list-group-item">
						<a href="/account-tickets">{{localize req 'account.sidebar.support'}}
                        <span class="badge">{{ticketsCount}}</span>
                        
						</a>
						<ul>
							<li>
								<a href="/add-ticket">
									<i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addTicket'}}</a>
							</li>
						</ul>
					</li>
                    <li class="list-group-item">
                        <a href="/account/foundations">{{localize req 'account.sidebar.foundations'}} <span class="badge">{{foundationsCount}}</a>
                    </li>
					<li class="list-group-item">
						<a href="/account/edit">
							<i class="fas fa-cog"></i> {{localize req 'account.sidebar.editProfile'}}</a>
					</li>
				</ul>

			</div>
			<!--/.account-menu-->
		</nav>
	</div>

    


    <div class="col-xl-9 pull-xl-3 col-lg-8 pull-lg-4 col-md-7 pull-md-5 col-sm-12 pull-sm-0">
        

        <ul class="items-list">

            <div id="linkedDiv">
                {{#if transactions}}

                    {{#each transactions as |transaction|}}
                    <li class="row transaction-row" data-date="{{transaction.Date}}">
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12"> 
                            <h3>{{transaction.Date}} <a href="/clinics/{{transaction.ClinicInfo.id}}">{{transaction.ClinicInfo.name}}</a>
                                <small>Public</small>
                            </h3>
                            <p>
                                <a href="https://www.google.com/maps/embed/place?key=1&q={{transaction.ClinicInfo.location.address}}" data-name="{{transaction.ClinicInfo.name}}" class="map-toggle">
                                    {{transaction.ClinicInfo.location.address}}
                                </a>
                            </p>
                            <ul class="stiled-list">
                                <li>
                                    <h4>{{transaction.ServiceInfo.name}}</h4>
                                    <div>Terapist <a href="/doctors/{{transaction.DoctorInfo.id}}">{{transaction.DoctorInfo.name}}</a></div>
                                </li>
                            </ul>
                            <div class="card">
                                <ul>
                                    <li>{{localize ../req 'transactions.code'}}: <span id="{{transaction.Id}}">{{transaction.Id}}</span></li>
                                    <li><a class="copy-link btn-copy1" onclick="copyToClipboard('#{{transaction.Id}}')"><i class="far fa-copy"></i> {{localize ../req 'transactions.copy'}}</a> / <a href="#" data-toggle="modal" data-target="#sorry">{{localize ../req 'transactions.check'}}</a></li>
                                    <li>{{localize ../req 'transactions.status'}}: <span class="text-success">{{localize ../req 'transactions.inProgress'}}</span></li>
                                </ul>
                            </div>
                            <!--/.card-->
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                            <h3>Documents</h3>
                            <div class="gallery">
                                <ul class="owl-carousel owl-theme">
                                    {{#each transaction.uploads as |file|}}
                                    <li class="item">

                                        {{#if (equals file.ext 'jpg')}}
                                        <a class="gallery-img" href="{{file.path}}" title="{{file.name}}">
                                            <img src="{{file.path}}" alt="{{file.fullname}}" />
                                        </a>

                                        {{else if (equals file.ext 'jpeg')}}
                                        <a class="gallery-img" href="{{file.path}}" title="{{file.name}}">
                                            <img src="{{file.path}}" alt="{{file.fullname}}" />
                                        </a>

                                        {{else if (equals file.ext 'png')}}
                                        <a class="gallery-img" href="{{file.path}}" title="{{file.name}}">
                                            <img src="{{file.path}}" alt="{{file.fullname}}" />
                                        </a>

                                        {{else if (equals file.ext 'doc')}}
                                        <div>
                                            <a href="{{file.path}}" title="{{file.name}}">
                                                <i class="far fa-file fa-2x"></i>
                                                <br />{{file.fullname}}
                                            </a>
                                        </div>

                                        {{else if (equals file.ext 'pdf')}}
                                        <div>
                                            <a href="{{file.path}}" title="{{file.name}}">
                                                <i class="far fa-file-pdf fa-2x"></i>
                                                <br />{{file.fullname}}
                                            </a>
                                        </div>

                                        {{else}}
                                        <div>
                                            <a href="{{file.path}}" title="{{file.name}}">
                                                <i class="far fa-file fa-2x"></i>
                                                <br />{{file.fullname}}
                                            </a>
                                        </div>

                                        {{/if}}

                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </li>
                    {{/each}}

                {{else}}
                    <h2>{{localize req 'account.noLinkedRecords'}}</h2>
                {{/if}}
            </div>

            <div id="spaceDiv">
                <br /><br /><br /><br /><br /><br />
            </div>

            <div id="separateDiv">
                {{#each filesSorted as |fileObj|}}
                <li class="row file-row"  data-date="{{fileObj.date}}">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12"> 
                        <h3>{{fileObj.date}}</h3>
                    </div>

                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <h3>Documents</h3>
                        <div class="gallery">
                            <ul class="owl-carousel owl-theme">
                                {{#each fileObj.files as |file|}}
                                <li class="item">

                                    {{#if (equals file.ext 'jpg')}}
                                    <a class="gallery-img" href="{{file.path}}" title="{{file.name}}">
                                        <img src="{{file.path}}" alt="{{file.fullname}}" />
                                    </a>

                                    {{else if (equals file.ext 'jpeg')}}
                                    <a class="gallery-img" href="{{file.path}}" title="{{file.name}}">
                                        <img src="{{file.path}}" alt="{{file.fullname}}" />
                                    </a>

                                    {{else if (equals file.ext 'png')}}
                                    <a class="gallery-img" href="{{file.path}}" title="{{file.name}}">
                                        <img src="{{file.path}}" alt="{{file.fullname}}" />
                                    </a>

                                    {{else if (equals file.ext 'doc')}}
                                    <div>
                                        <a href="{{file.path}}" title="{{file.name}}">
                                            <i class="far fa-file fa-2x"></i>
                                            <br />{{file.fullname}}
                                        </a>
                                    </div>

                                    {{else if (equals file.ext 'pdf')}}
                                    <div>
                                        <a href="{{file.path}}" title="{{file.name}}">
                                            <i class="far fa-file-pdf fa-2x"></i>
                                            <br />{{file.fullname}}
                                        </a>
                                    </div>

                                    {{else}}
                                    <div>
                                        <a href="{{file.path}}" title="{{file.name}}">
                                            <i class="far fa-file fa-2x"></i>
                                            <br />{{file.fullname}}
                                        </a>
                                    </div>

                                    {{/if}}

                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                </li>
                {{/each}}
            </div>

        </ul>


        <div class="row pagination-line">
            <div class="col">
                {{> pager pagerInfo }}
            </div>
        </div>

	</div>

    

	
</div>

<script>
$(document).ready(function() {

    const filterRecords = function() {
        const linkedDiv = document.querySelector("#linkedDiv");
        const separateDiv = document.querySelector("#separateDiv");
        const spaceDiv = document.querySelector("#spaceDiv");
        const paginationLine = document.querySelector(".pagination-line");

        const type = this.value;

        if (type === "all") {
            linkedDiv.style.display = null;
            separateDiv.style.display = null;
            spaceDiv.style.display = null;
            paginationLine.style.display = null;
        } else if (type === "linked") {
            linkedDiv.style.display = null;
            separateDiv.style.display = "none";
            spaceDiv.style.display = "none";
            paginationLine.style.display = null;
        } else if (type === "separate") {
            linkedDiv.style.display = "none";
            separateDiv.style.display = null;
            spaceDiv.style.display = "none";
            paginationLine.style.display = "none";
        }
    }

    const filterDate = function(event) {

        let from = (this.dataset.side === "from") 
        ? new Date(event.target.value)
        : new Date(document.querySelector(`.date-picker[data-type="${this.dataset.type}"][data-side="from"]`).value);

        let to = (this.dataset.side === "from") 
        ? new Date(document.querySelector(`.date-picker[data-type="${this.dataset.type}"][data-side="to"]`).value)
        : new Date(event.target.value);

        if (from > to) {
            this.value = event.target.defaultValue;

            if (this.dataset.side === "from") {
                from = new Date(this.value);
            } else {
                to = new Date(this.value);
            }
        }

        const sel = (this.dataset.type === "linked") ? ".transaction-row" : ".file-row";
        const rows = document.querySelectorAll(sel);

        for (const row of rows) {
            const date = new Date(row.dataset.date);
            if (date < from || date > to) {
                row.style.display = "none";
            } else {
                row.style.display = null;
            }
        }
        
    }

    document.querySelectorAll('input[name="filterRecords"]').forEach(el => el.addEventListener("change", filterRecords));
    document.querySelectorAll('.date-picker').forEach(el => el.addEventListener("change", filterDate));

});
</script>