<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{localize 'breadcrumbs.home'}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{localize 'breadcrumbs.account'}}</li>
    </ol>
</nav>

<h3>{{localize 'account.login'}}</h3>
<div class="button-container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login">{{localize 'account.loginButton'}}</button>
    <a class="btn btn-link" href="/registration">{{localize 'account.registerButton'}}</a>
</div>
