
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/doctors">Doctors</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{doctor.name}}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <a class="avatar" href="/"><div class="crop"><img src="/img/_demo/doctor1.jpg" alt="" /></div></a>
                    <div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of insurance points"><i class="fas fa-heartbeat"></i> Insurance</div>
                </div>
                <!--/.col-->
                <div class="col-xl-8 col-md-12">
                    <div><a href="/doctors">{{doctor.specialization}}</a></div>
                    <h4><a href="/clinic">General hospital</a> <small>Public</small></h4>
                    <p>462 First Avenue, <a href="/doctors">New York</a>, <a href="/doctors">NY</a>, <a href="/doctors">United States</a></p>
                    <div>Work experience <strong>9+</strong> years</div>
                    <div>First visit from = <strong>100 MPT</strong> <br />+ <strong class="text-success">100 MPT bonus</strong> for next visits</div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->

            <br />

            <div class="row">
                <div class="col">
                    <h3>Professional statement</h3>
                    <p>{{doctor.statement}}</p>

                    <hr />

                    <h3>All specializations</h3>


                    <ul class="list-inline">
                        {{#each doctor.specialization as |specialization|}}
                        <li class="list-inline-item"><a href="#">{{specialization}}</a></li>
                        {{/each}}
                    </ul>

                    <hr />

                    <h3>Education</h3>

                    <ul>
                        {{#each doctor.education as |ed|}}
                        <li><i class="fas fa-graduation-cap"></i> <a class="" href="#">{{ed.university}}</a> - {{ed.degree}} <br /><em>Graduate of {{ed.graduated}}</em></li>
                        {{/each}}
                    </ul>

                </div>
                <!--/.col-->
            </div>
            <!-- end row -->

        </div>
        <!--/.col-->

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

            <nav class="sticky-top">

                <div class="row">

                    <div class="col-xl-6 col-lg-12">

                        <div class="wave text-center">

                            <h4>Rating <strong class="text-success">{{doctor.rate}}</strong></h4>

                            <p>based on <strong><a class="" href="#opinions">{{doctor.ratings.length}} opinions</a></strong></p>

                            <ul class="rating">

                                <li class="row">
                                    <div class="col text-right">
                                        Knowledges
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar {{getProgressBarColor doctor.opinion.knowledge}}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{getProgressBarWidth doctor.opinion.knowledge}}%">
                                                <span class="sr-only">{{doctor.opinion.knowledge}}/10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </li>
                                <!-- end row -->
                                <li class="row">
                                    <div class="col text-right">
                                        Skills
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar {{getProgressBarColor doctor.opinion.skills}}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{getProgressBarWidth doctor.opinion.skills}}%">
                                                <span class="sr-only">{{doctor.opinion.skills}}/10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </li>
                                <!-- end row -->
                                <li class="row">
                                    <div class="col text-right">
                                        Attention
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar {{getProgressBarColor doctor.opinion.attention}}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{getProgressBarWidth doctor.opinion.attention}}%">
                                                <span class="sr-only">{{doctor.opinion.attention}}/10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </li>
                                <!-- end row -->
                                <li class="row">
                                    <div class="col text-right">
                                        Price / Quality
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar {{getProgressBarColor doctor.opinion.priceQuality}}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{getProgressBarWidth doctor.opinion.priceQuality}}%">
                                                <span class="sr-only">{{doctor.opinion.priceQuality}}/10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </li>
                                <!-- end row -->

                            </ul>
                            <!--/.rating-->

                            <p><a class="btn btn-primary btn-lg justify" href="/booking">Book to visit</a></p>

                            <p>In favorites at <strong>462</strong> users</p>

                            <a class="btn btn-secondary justify" href="#"><i class="far fa-heart"></i> Add to favorite</a>

                        </div>
                        <!--/.wave-->

                    </div>
                    <!--/.col-->

                    <div class="col-xl-6 col-lg-12">
						<div class="map hidden-lg-down">
                        	<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d84016.36429915384!2d2.161754161251458!3d48.848458114630624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x47e67031f8c20147%3A0xa6a9af76b1e2d899!2sAssistance+%E2%80%93+H%C3%B4pitaux+De+Paris%2C+3+Avenue+Victoria%2C+75004+Paris%2C+Francia!3m2!1d48.856836099999995!2d2.3504327!5e0!3m2!1sen!2sru!4v1517149847463"
                            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div><!--/.map-->
						<div class="hidden-xl-up"><br /><a class="btn-map" href="#" data-toggle="collapse" data-target="#showMap"><i class="fas fa-map-marker"></i> Show on map</a>
							<div class="collapse" id="showMap">
								<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d84016.36429915384!2d2.161754161251458!3d48.848458114630624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x47e67031f8c20147%3A0xa6a9af76b1e2d899!2sAssistance+%E2%80%93+H%C3%B4pitaux+De+Paris%2C+3+Avenue+Victoria%2C+75004+Paris%2C+Francia!3m2!1d48.856836099999995!2d2.3504327!5e0!3m2!1sen!2sru!4v1517149847463"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div><!--/.collapse-->
						</div>
                    </div>
                    <!--/.col-->

                </div>
                <!--/.row-->

            </nav>

        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

	<br />

    <section class="bg-gray">

        <div class="reviews" id="opinions">

            <h3>Opinions <span class="badge">{{doctor.ratings.length}}</span></h3>
            <ul class="owl-carousel owl-theme">
                {{#each doctor.ratings as |rate|}}
                <li class="item">
                    <em>{{dateFormat rate.dateCreated}}</em>
                    <p>Service <a href="/services" title="">New patient visit</a></p>
                    <span class="stars good">
                        {{rate.rate}} / 10
                        {{#times rate.rate}}
                            <i class="fas fa-star"></i>
                        {{/times}}
                    </span>
                    <p>{{rate.comment}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
        <!--/.reviews-->

    </section>
