

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{PAGE_TITLE}}</li>
        </ol>
    </nav>
	
	<div class="row">
        <div class="col-xl-3 push-xl-9 col-lg-12 push-lg-0">

            <nav class="sticky-top">
                <div class="wave text-center">
                    <a class="participants" href="/foundation/cases/">{{{localize req 'foundation.participants' num="3" }}}</a> 
                    <a href="/foundation/cases/" class="btn btn-primary justify">{{{localize req 'foundation.open' num="3" }}}</a>
                </div>
				<div class="text-center">
				
					<a href="#" data-toggle="modal" data-target="#listFunds">{{localize req 'foundation.makeDonation'}}</a>
							
					<br />
						
					{{{localize req 'foundation.points'}}}
					
					<br />
					
					<br />
						
				</div><!--/.-->

            </nav>
			
        </div>
        <div class="col-xl-9 pull-xl-3 col-lg-12 pull-lg-0">
        {{!-- <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12"> --}}

            <div class="row">
				
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">  
                    {{{localize req 'foundation.foundationText1'}}}
                </div>
                <!--/.col-->
			
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> 
                    <img class="img-responsive" src="img/foundation-eng.svg" alt="" />  
                </div>
                <!--/.col--> 
				
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">  
                    {{{localize req 'foundation.foundationText2'}}}
                </div>
                <!--/.col-->
				
            </div>
            <!--/.row-->

        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
 