

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/drugs">Drugs</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ drug.name }}</li>
        </ol>
    </nav>
	
	<div class="row">
        <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12">
            <div class="row">
                <div class="col">

                    <img src="/img/_demo/drug1.jpg" alt="" class="img-thumbnail float-left">

                    <div>Group <a href="/drugs/?group={{ drug.group.id }}">{{ drug.group.name }}</a></div>
                    <div>Price from <strong class="text-dark">${{ drug.price.dollars }}</strong> <strong class="text-success">{{ drug.price.mpts }} MPT</strong></div>

                    <hr />

                    <div>
                        {{{ drug.full_descr }}}
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->

        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-4 col-md-12 col-sm-12">

            <nav class="sticky-top">

                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">

                        <div class="wave text-center">
                            <p>Available in</p> 
                            <a class="btn btn-primary btn-lg justify" href="/pharmacies?drugId={{drug.id}}"><strong>{{ drug.providers.pharmacies }}</strong> Pharmacies</a>
                        </div>
                        <!--/.wave-->
						
                    </div>
                    <!--/.col-->
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
						<div class="map hidden-lg-down" style="height: 300px">
            			</div><!--/.map-->
						<div class="hidden-xl-up"><br /><a class="btn-map" href="#" data-toggle="collapse" data-target="#showMap"><i class="fas fa-map-marker"></i> Show on map</a>
							<div class="map" style="height: 300px"></div>
                            <script>
                                var providers = {{{jsonify providersLocations}}};
                                function initLocationMap() {
                                    $('.map').each(function (_, el) {
                                        var center = {lat: 0, lng: 0};
                                        if (providers.length > 0) {
                                            center.lat = providers[0].coordinations.lat;
                                            center.lng = providers[0].coordinations.lon;
                                        } else { 
                                            $(el).hide()
                                            return; 
                                        }
                                        var map = new google.maps.Map(
                                            el,
                                            {center: center, zoom: 3}
                                        );

                                        
                                        var infowindow = new google.maps.InfoWindow({
                                            content: ''
                                        });


                                        for (var i = 0, length = providers.length; i < length; i++) {
                                            var provider = providers[i];
                                            var marker = new google.maps.Marker({
                                                position: {lat: provider.coordinations.lat, lng: provider.coordinations.lon}, 
                                                title: provider.name,
                                                map: map,
                                            });

                                            google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow){ 
                                                return function() {
                                                    infowindow.setContent(content);
                                                    infowindow.open(map, marker);
                                                };
                                            })(marker, getInfoWindowContent(provider), infowindow));  
                                        }    
                                    })
                                    
                                }

                                function getInfoWindowContent(provider) {
                                    return '<div class="info-window">' + 
                                    '<h5>' + (provider.name || '') + '</h5>' +
                                    '<i>' + (provider.location.address || '') + '</i><br/>' +
                                    '<a href="/pharmacies/' + provider.id.toString() + '">View Pharmacy</a>' 
                                    '</div>';
                                }
                            </script>
                            <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA839hvZlHkWX80W6YRTuv3C7HToNVZhwc&callback=initLocationMap">
                            </script>
						</div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
 
            </nav>
 
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
	
	<br />
	
	{{!-- <div class="row">
        <div class="col"> 

            <h3>Price comparison for <strong>{{ drug.name }}</strong> in <strong>New York</strong></h3>

            <div class="table-responsive">
                <table summary="" class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <h5>Pharmacy</h5>
                            </th>
                            <th>
                                <h5>Price</h5>
                            </th>
                            <th class="text-center">
                                <h5>Insurance</h5>
                            </th>
                            <th class="text-right">
                                <h5>On prescription only</h5>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #1</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$24</strong><br /><strong class="text-success">240 MPT</strong></td>
                            <td class="text-center"><i class="fas fa-plus text-success" data-toggle="tooltip" data-placement="top" title="Can be purchased for insurance points"></i></td>
                            <td class="text-right"><i class="fas fa-plus"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #2</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$34</strong><br /><strong class="text-success">340 MPT</strong></td>
                            <td></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #3</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$44</strong><br /><strong class="text-success">440 MPT</strong></td>
                            <td class="text-center"><i class="fas fa-plus text-success" data-toggle="tooltip" data-placement="top" title="Can be purchased for insurance points"></i></td>
                            <td class="text-right"><i class="fas fa-plus"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #4</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$54</strong><br /><strong class="text-success">540 MPT</strong></td>
                            <td class="text-center"><i class="fas fa-plus text-success" data-toggle="tooltip" data-placement="top" title="Can be purchased for insurance points"></i></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #5</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$64</strong><br /><strong class="text-success">640 MPT</strong></td>
                            <td></td>
                            <td class="text-right"><i class="fas fa-plus"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #6</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$74</strong><br /><strong class="text-success">740 MPT</strong></td>
                            <td class="text-center"><i class="fas fa-plus text-success" data-toggle="tooltip" data-placement="top" title="Can be purchased for insurance points"></i></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #7</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$84</strong><br /><strong class="text-success">840 MPT</strong></td>
                            <td class="text-center"><i class="fas fa-plus text-success" data-toggle="tooltip" data-placement="top" title="Can be purchased for insurance points"></i></td>
                            <td class="text-right"><i class="fas fa-plus"></i></td>
                        </tr>
                        <tr>
                            <td>
                                <h4><a href="/pharmacy" title="">Pharmacy Store #8</a></h4>
                            </td>
                            <td class="price-td">from <strong class="text-dark">$94</strong><br /><strong class="text-success">940 MPT</strong></td>
                            <td class="text-center"><i class="fas fa-plus text-success" data-toggle="tooltip" data-placement="top" title="Can be purchased for insurance points"></i></td>
                            <td class="text-right"><i class="fas fa-plus"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            <!--end of .table-responsive-->
			
			<br />
 
			<div class="row pagination-line">
            	<div class="col">
					<nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <span class="page-link">2<span class="sr-only">(current)</span></span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            		</nav>
            	</div>
            	<!--/.col-->
            	<div class="col"> 
					<em>1-5 / 3154</em>
            	</div>
            	<!--/.col-->
          	</div>
          	<!--/.row-->
			
        </div>
        <!--/.col-->
    </div> --}}
    <!--/.row-->
 