<div class="about">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.about'}}</li>
        </ol>
    </nav>

    <h2>{{{localize req 'about.title'}}}</h2>

    <div class="card">

        <div class="row">
            <div class="col">
                {{{localize req 'about.description'}}}
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </div>
    <!--/.card-->
 
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize req 'about.bestClinics'}}}
        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize req 'about.provenDoctors'}}}
        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize req 'about.specialPrices'}}}
        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize req 'about.genuineReviews'}}}
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h2>{{{localize req 'about.friendly.title'}}}</h2>
            <p></p>
            <iframe class="about-youtube" src={{{localize req 'about.friendly.src'}}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<br />
			<hr />
			<p>{{{localize req 'about.friendly.description'}}}</p>
        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h2>{{{localize req 'about.functional.title'}}}</h2>
            <p></p>
            <iframe class="about-youtube" src={{{localize req 'about.functional.src'}}} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<br />
			<hr />
			<p>{{{localize req 'about.functional.description'}}}</p>
        </div>
        <!--/.col--> 
        

    </div>
    <!--/.row-->

    <h2>{{{localize req 'about.possibilities.title'}}}</h2>
    <br />
    <div>{{{localize req 'about.possibilities.description'}}}</div>
{{!-- 	
	<h2>{{{localize req 'about.beneficial.title'}}}</h2>
	
	<p>{{{localize req 'about.beneficial.description'}}}</p> --}}
	
</div>