<div class="about">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize 'breadcrumbs.about'}}</li>
        </ol>
    </nav>

    <h2>{{{localize 'about.title'}}}</h2>

    <div class="card">

        <div class="row">
            <div class="col">
                {{{localize 'about.description'}}}
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </div>
    <!--/.card-->
 
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize 'about.bestClinics'}}}
        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize 'about.provenDoctors'}}}
        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize 'about.specialPrices'}}}
        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-6 col-md-12 col-sm-12">
            {{{localize 'about.genuineReviews'}}}
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h2>{{{localize 'about.friendly.title'}}}</h2>
            <p></p>
            <a href="https://youtube.com" target="_blank"><img class="img-responsive" src="http://via.placeholder.com/650x450" alt="" /></a>
			<br />
			<br />
			<a href="https://youtube.com" target="_blank"><i class="fas fa-play"></i> {{{localize 'about.friendly.watchVideo'}}}</a>
			<hr />
			<p>{{{localize 'about.friendly.description'}}}</p>
        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h2>{{{localize 'about.functional.title'}}}</h2>
            <p></p>
            <a href="https://youtube.com" target="_blank"><img class="img-responsive" src="http://via.placeholder.com/650x450" alt="" /></a>
			<br />
			<br />
			<a href="https://youtube.com" target="_blank"><i class="fas fa-play"></i> {{{localize 'about.functional.watchVideo'}}}</a>
			<hr />
			<p>{{{localize 'about.functional.description'}}}</p>
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->
	
	<h2>{{{localize 'about.beneficial.title'}}}</h2>
	
	<p>{{{localize 'about.beneficial.description'}}}</p>
	
</div>