

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{localize 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item"><a href="/account">{{localize 'breadcrumbs.account'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize 'breadcrumbs.tickets'}}</li>
        </ol>
    </nav>

    <div class="row">
        <!--/.col--> 
        {{#if requireLogIn}}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2>{{localize 'errors.requiresLogin'}}</h2>
        </div>
        {{else}}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
		
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                {{!-- <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">All tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Open</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Closed</a>
                </li> --}}
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="table-responsive">
                        <table summary="" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <h5>{{localize 'tickets.table.title'}}</h5>
                                    </th>
                                    <th>
                                        <h5>{{localize 'tickets.table.description'}}</h5>
                                    </th>
                                    <th>
                                        <h5>{{localize 'tickets.table.time'}}</h5>
                                    </th>
                                    <th>
                                        <h5>{{localize 'tickets.table.status'}}</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each tickets as |ticket|}}
                                <tr>
                                    <td>{{ticket.title}}</td>
                                    <td>{{ticket.text}}</td>
                                    <td>{{ticket.dateCreated}}</td>
                                    <td><span class="text-info">{{ticket.status}}</span></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!--end of .table-responsive-->
                </div>
                <!--/.tab-pane-->
                {{!-- <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
					2
				</div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-contact-tab">
					3
				</div> --}}
                <!--/.tab-pane-->
            </div>
            <!--/.tab-content--> 
		  	 
			<a class="btn btn-primary" href="/add-ticket">{{localize 'tickets.addTicket'}}</a>   
						
        </div>
        {{/if}}
        <!--/.col-->
    </div>
    <!--/.row--> 
 