

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item"><a href="/account">{{localize req 'breadcrumbs.account'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.tickets'}}</li>
        </ol>
    </nav>

    <div class="row">
        
        <div class="col-xl-3 push-xl-9 col-lg-4 push-lg-8 col-md-5 push-md-7 col-sm-12 push-sm-0">
        <nav class="sticky-top">

            <div class="account-menu">

                <ul class="list-group">
                    <li class="list-group-item active">
                        <a href="/account">{{localize req 'account.sidebar.appointments'}} <span class="badge">{{appointmentsCount}}</span></a>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/records">{{localize req 'account.sidebar.records'}} <span class="badge">{{recordsCount}}</span></a>
                        <ul>
                            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#chooseDoctor"><i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addRecord'}}</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
						<a href="#" data-toggle="modal" data-target="#sorry"><b>MPT</b> = 120
							<span class="badge">+ 0</span>
						</a>
						<ul>
							<li>
								<a href="#" data-toggle="modal" data-target="#sorry">
									<i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addBalance'}}</a>
							</li>
						</ul>
					</li>
                    <li class="list-group-item">
                        <a href="/account/favorites">{{localize req 'account.sidebar.favourites'}}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/account-tickets">{{localize req 'account.sidebar.support'}}
                        <span class="badge">{{ticketsCount}}</span>
                        </a>
                        <ul>
                            <li><a href="/add-ticket"><i class="fas fa-plus-circle"></i> {{localize req 'account.sidebar.addTicket'}}</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item">
                        <a href="/account/edit"><i class="fas fa-cog"></i> {{localize req 'account.sidebar.editProfile'}}</a>
                    </li>
                </ul>

            </div>
            <!--/.account-menu-->
        </nav>
    </div>
    <!--/.col-->

        <!--/.col--> 
        {{#if requireLogIn}}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2>{{localize req 'errors.requiresLogin'}}</h2>
        </div>
        {{else}}
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
		
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">{{localize req 'tickets.all'}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">{{localize req 'tickets.open'}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">{{localize req 'tickets.closed'}}</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{#if tickets.all}}
                    <div class="table-responsive">
                        <table summary="" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <h5>{{localize req 'tickets.table.title'}}</h5>
                                    </th>
                                    <th>
                                        <h5>{{localize req 'tickets.table.description'}}</h5>
                                    </th>
                                    <th>
                                        <h5>{{localize req 'tickets.table.time'}}</h5>
                                    </th>
                                    <th>
                                        <h5>{{localize req 'tickets.table.status'}}</h5>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each tickets.all as |ticket|}}
                                <tr>
                                    <td>{{ticket.title}}</td>
                                    <td>{{ticket.text}}</td>
                                    <td>{{ticket.dateCreated}}</td>
                                    <td><span class="text-info">{{ticket.status}}</span></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!--end of .table-responsive-->
                    {{else}}
                        <h2 class="no-tickets">{{localize req 'tickets.noTickets'}}</h2>
                    {{/if}}
                </div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-profile-tab">
					{{#if tickets.open}}
                        <div class="table-responsive">
                            <table summary="" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <h5>{{localize req 'tickets.table.title'}}</h5>
                                        </th>
                                        <th>
                                            <h5>{{localize req 'tickets.table.description'}}</h5>
                                        </th>
                                        <th>
                                            <h5>{{localize req 'tickets.table.time'}}</h5>
                                        </th>
                                        <th>
                                            <h5>{{localize req 'tickets.table.status'}}</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each tickets.open as |ticket|}}
                                    <tr>
                                        <td>{{ticket.title}}</td>
                                        <td>{{ticket.text}}</td>
                                        <td>{{ticket.dateCreated}}</td>
                                        <td><span class="text-info">{{ticket.status}}</span></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!--end of .table-responsive-->
                    {{else}}
                        <h2 class="no-tickets">{{localize req 'tickets.noTickets'}}</h2>
                    {{/if}}
				</div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-contact-tab">
					{{#if tickets.closed}}
                        <div class="table-responsive">
                            <table summary="" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <h5>{{localize req 'tickets.table.title'}}</h5>
                                        </th>
                                        <th>
                                            <h5>{{localize req 'tickets.table.description'}}</h5>
                                        </th>
                                        <th>
                                            <h5>{{localize req 'tickets.table.time'}}</h5>
                                        </th>
                                        <th>
                                            <h5>{{localize req 'tickets.table.status'}}</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each tickets.open as |ticket|}}
                                    <tr>
                                        <td>{{ticket.title}}</td>
                                        <td>{{ticket.text}}</td>
                                        <td>{{ticket.dateCreated}}</td>
                                        <td><span class="text-info">{{ticket.status}}</span></td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <!--end of .table-responsive-->
                    {{else}}
                        <h2 class="no-tickets">{{localize req 'tickets.noTickets'}}</h2>
                    {{/if}}
				</div>
                <!--/.tab-pane-->
            </div>
            <!--/.tab-content--> 
		  	 
			<a class="btn btn-primary" href="/add-ticket">{{localize req 'tickets.addTicket'}}</a>
						
        </div>
        {{/if}}
        <!--/.col-->
    </div>
    <!--/.row--> 
 