

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.blog'}}</li>
        </ol>
    </nav>
  
    <div class="row">		
        <div class="col">

            <ul class="items-list">
                {{#each blogArticles}}
                <li>
                    <div class="row">
                        <div class="col"> 
                            <h2><a class="avatar" href="/blog/text/{{id}}">{{{title}}}</a></h2>
                            <p>{{{shortText}}}</p>
                            <a  href="/blog/text/{{id}}">{{localize ../req 'readMore'}} <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </li> 
                {{/each}}
				
            </ul>
 
			{{> pager pagerInfo }}

        </div>
        <!--/.col--> 
		
    </div>
    <!--/.row-->
