<?php define( '_ACCESS', 1 ); ?>

<?php

    $page_name = 'insurance';
    $page_title = 'Insurance program';
	$page_keywords = '';
	$page_description = '';
	
?>

    <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/header.php"); ?>


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.insurance'}}</li>
        </ol>
    </nav>

	<div class="row">
        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">

            <div class="row">
				
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    {{{localize req 'insurance.textBeforeImg'}}}
                </div>
                <!--/.col-->
			
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> 
                    <img class="img-responsive" src={{localize req 'insurance.imgPath'}} alt="" />
					<br />
					<br />  
                </div>
                <!--/.col--> 
				
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">  
                    {{{localize req 'insurance.textAfterImg'}}}
                </div>
                <!--/.col-->
				
            </div>
            <!--/.row-->

        </div>
        <!--/.col-->
        <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">

            <nav class="sticky-top">
 
                <div class="wave text-center">  
                    <p><strong>2470</strong> participants in the program</p> 
                    <a class="btn btn-primary btn-lg justify" href="/registration">Join insurance program</a>
                </div>
                <!--/.wave-->
				
				<br />
				
				<div class="card">Decentralized database guarantees the transfer of funds to a specific recipient. Third parties do not have access to any fund or information about payers.</div>
					 
            </nav>
 
        </div>
        <!--/.col-->
    </div> 
    <!--/.row-->
 
    <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/footer.php"); ?>