

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.partnership'}}</li>
        </ol>
    </nav>
	
	{{{localize req 'partnership.textBeforeImg'}}}
	
	{{!-- <hr />
	
	<img class="img-responsive" src={{localize req 'partnership.imgPath'}} alt="" />
	
	<br />
	<br /> --}}
 
	{{!-- {{{localize req 'partnership.textAfterImg'}}} --}}
 
