<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{localize req 'breadcrumbs.rates'}}</li>
    </ol>
</nav>

<br />

<h2>{{localize req 'explorer.latestTransactions'}}</h2>
<div id="chartdiv" style="overflow: visible; text-align: left;"></div>    

<br />

<h2>{{localize req 'rates.subtitle'}}</h2>

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 padded-input">
        <label for="amount">{{localize req 'rates.form.amount'}}</label>
        <input type="text" name="amount" class="form-control" id="exchangeAmount" placeholder="" required />
    </div>
    <!--/.col-->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 padded-input">
        <label for="currency">{{localize req 'rates.form.currency'}}</label>
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0 justify" id="exchangeCurrency">
            <option value="btc" selected>{{localize req 'rates.form.currencies.btc'}}</option>
            <option value="eth">{{localize req 'rates.form.currencies.eth'}}</option>
            <option value="xrp">{{localize req 'rates.form.currencies.xrp'}}</option>
            <option value="bch">{{localize req 'rates.form.currencies.bch'}}</option>
            <option value="ltc">{{localize req 'rates.form.currencies.ltc'}}</option>
        </select>
    </div>
    <!--/.col-->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 padded-input">
        <label for="numberOfMPT">{{localize req 'rates.form.numberOfMpt'}}</label>
        <input type="text" name="numberOfMPT" class="form-control" id="exchangeRate" placeholder="" disabled="disabled" />
    </div>
    <!--/.col-->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 padded-input">
        <label>&nbsp;</label>
        <button class="btn btn-primary justify" id="btnAddBalance">{{localize req 'rates.form.addBalanceButton'}}</button>
        {{!-- <button class="btn btn-primary justify" id="calculateRate" href="javascript:void(0)">{{localize req 'rates.form.calculateExchangeRate'}}</button> --}}
    </div>
    <!--/.col-->
</div>
<!--/.row-->

{{!-- <div class="row">
    <div class="offset-xl-9 offset-lg-9 offset-md-6 offset-sm-0"></div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 add-balance-container">
        <button class="btn btn-secondary justify disabled" id="addBalance" href="javascript:void(0)">{{localize req 'rates.form.addBalanceButton'}}</button>
    </div>
    <!--/.col-->
</div> --}}
<!--/.row-->

<script src="/js/src/rates.js"></script>
<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<link href="//www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" />
<script src="//www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="/css/rates.css" type="text/css" media="all">
<script src="/js/rates/light.js"></script>
<script>
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 40,
    "marginLeft": 40,
    "autoMarginOffset": 20,
    "mouseWheelZoomEnabled":true,
    "dataDateFormat": "YYYY-MM-DD",
    "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0,
        "position": "left",
        "ignoreAxisWidth":true
    }],
    "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
    },
    "graphs": [{
        "id": "g1",
        "balloon":{
          "drop":true,
          "adjustBorderColor":false,
          "color":"#ffffff"
        },
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "title": "red line",
        "useLineColorForBulletBorder": true,
        "valueField": "value",
        "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
    }],
    "chartScrollbar": {
        "graph": "g1",
        "oppositeAxis":false,
        "offset":30,
        "scrollbarHeight": 80,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 0.1,
        "selectedBackgroundColor": "#888888",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount":true,
        "color":"#AAAAAA"
    },
    "chartCursor": {
        "pan": true,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "cursorAlpha":1,
        "cursorColor":"#0d47a1",
        "limitToGraph":"g1",
        "valueLineAlpha":0.2,
        "valueZoomable":true
    },
    "valueScrollbar":{
      "oppositeAxis":false,
      "offset":50,
      "scrollbarHeight":10
    },
    "categoryField": "date",
    "categoryAxis": {
        "parseDates": true,
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    },
    "dataProvider": {{{jsonify chartTransactions}}}
});

chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
}
</script>

<script>
$(document).ready(function() {

   const addFunds = function() {
       let amount = document.querySelector("#exchangeRate").value;
       if (!amount || isNaN(+amount)) {
           return;
       }

       amount = Math.round(+amount) * 0.001;
       if (!amount) {
           return;
       }

       const xhr = new XMLHttpRequest();
       const url = '/account/add-balance';

       const data = {
           amount: amount,
       };

       xhr.open('POST', url, true);
       xhr.setRequestHeader('Content-Type', 'application/json');

       xhr.onreadystatechange = () => {
           if (xhr.readyState === 4 && xhr.status === 200) {
               window.location = "/account/balance";
           }
       };
       xhr.send(JSON.stringify(data));
   }

    document.querySelector("#btnAddBalance").addEventListener("click", addFunds);
});
</script>