
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{localize 'breadcrumbs.home'}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{localize 'breadcrumbs.registration'}}</li>
    </ol>
</nav>

<div class="alert alert-info alreadyRegisteredContainer" role="alert" style="display:none;">
    {{{localize 'registration.alreadyRegistered'}}}
</div>

<div class="registerContainer">
    <h2>{{localize 'registration.existing'}} <a href="#" data-toggle="modal" data-target="#login">{{localize 'registration.clickToLogIn'}}</a></h2>

    <br />

    <div class="alert alert-info" role="alert">
        {{{localize 'registration.login'}}}
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="walletId">{{localize 'registration.form.id'}}</label>
                <input type="text" class="form-control" id="registerWalletId" value="" disabled="disabled" required />
                <div class="copy-text" id="registerWalletIdText"></div>
                <a class="copy-link btn-copy1" onclick="copyToClipboard($('#registerWalletId'))"><i class="far fa-copy"></i> {{localize 'common.copy'}}</a>
            </div>
        </div>
        <!--/.col-->
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="form-group">
                <label for="walletKey">{{localize 'registration.form.key'}}</label>
                <input type="text" class="form-control" id="registerWalletKey" value="" disabled="disabled" required />
                <div class="copy-text" id="registerWalletKeyText"></div>
                <a class="copy-link btn-copy2" onclick="copyToClipboard($('#registerWalletKey'))"><i class="far fa-copy"></i> {{localize 'common.copy'}}</a>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row--> 
    <div class="row">
        <div class="col-4">
            <label for="firstName">{{localize 'registration.form.firstName'}}</label>
            <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" required />
        </div>
        <!--/.col-->
        <div class="col-4">
            <label for="lastName">{{localize 'registration.form.lastName'}}</label>
            <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" required />
        </div>
        <!--/.col--> 
        <div class="col-4">
            <label for="email">{{localize 'registration.form.email'}}</label>
            <input type="text" name="email" class="form-control" id="email" placeholder="Email" />
        </div>
    </div>
    <!--/.row-->

    <br />

    <div class="row">
        <div class="col">  
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="termsAccept" class="custom-control-input" checked="checked">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{localize 'registration.accept'}}</span>
            </label> {{{localize 'registration.terms'}}} 
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->

    <hr />

    <div class="row">
        <div class="col">  
            <a id="registerButton" class="btn btn-primary" href="javascript:void(0)">{{localize 'registration.registerButton'}}</a>
        </div>
        <!--/.col--> 
    </div>
    <!--/.row-->
</div>

<script src="/js/src/auth.js"></script>
<script src="/js/src/registration.js"></script>