<?php define( '_ACCESS', 1 ); ?>

<?php

    $page_name = 'search-results';
    $page_title = 'Search results for "Vaccination" request';
	$page_keywords = '';
	$page_description = '';
	
?>

    <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/header.php"); ?>
 
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">{{localize 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
        </ol>
    </nav>
	
	<h3>164 result(s)</h3>
 
	<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Clinics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-4" role="tab" aria-controls="pills-4" aria-selected="false">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-5" role="tab" aria-controls="pills-5" aria-selected="false">Pharmacies</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">

                    <ul class="items-list">
					
                <li>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-5">
                            <a class="avatar" href="/doctor"><div class="crop"><img src="img/_demo/doctor1.jpg" alt="" /></div></a>
                    		<div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of insurance points"><i class="fas fa-heartbeat"></i> Insurance</div> 
                        </div>
                        <!--/.col-->
                        <div class="col-xl-6 col-lg-5 col-md-6 col-sm-7">
                            <h3><a href="/doctor"><strong>Smith</strong> John</a> <small>M.D</small></h3>
                            <div><a href="/doctors">Dietologist</a></div>
                            <h4><a href="/clinic">General hospital</a> <small>Public</small></h4>
                            <p>462 First Avenue, <a href="/doctors">New York</a>, <a href="/doctors">NY</a>, <a href="/doctors">United States</a></p>
                            <div>Work experience <strong>9+</strong> years</div>
                            <div>First visit from = <strong>100 MPT</strong> <br />+ <strong class="text-success">100 MPT bonus</strong> for next visits</div>
                        </div>
                        <!--/.col-->
                        <div class="col-xl-4 col-md-12 col-sm-12">
                            <div class="wave text-center">
                                <h4>{{localize 'ratings.rating'}} <strong class="text-success">9.99</strong></h4>
                                <p>{{localize 'ratings.basedOn'}} <strong><a class="" href="/doctor#opinions">8 {{localize 'ratings.{{localize 'ratings.opinions'}}'}}</a></strong></p>
                                <a class="btn btn-primary btn-lg justify" href="/booking">{{localize 'doctor.bookToVisit'}}</a>
                            </div>
                            <!--/.wave-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </li> 
			
                <li>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4">
                            <a class="avatar" href="/pharmacy"><div class="crop"><img src="img/_demo/pharmacy1.jpg" alt="" /></div></a> 
                        </div>
                        <!--/.col-->
                        <div class="col-xl-6 col-lg-5 col-md-5 col-sm-8">
                            <h3><a class="" href="/pharmacy">Pharmacy Store #1</a></h3>
                            <p><i class="fas fa-map-marker"></i> 462 First Avenue, <a href="/clinics">New York</a>, <a href="/clinics">NY</a>, <a href="/clinics">United States</a></p>
                            <div class="row">
                                <div class="col">
									<div class="card">
                                    	<ul>
                                        	<li><small>Monday-Friday:</small> <br />8:00 - 17:00</li>
                                        	<li><small>Saturday:</small> <br />10:00 - 16:00</li>
                                        	<li><small>Sunday:</small> <br />12:00 - 14:00</li>
                                    	</ul>
									</div><!--/.card-->
                                </div>
                                <!--/.col-->
                                <div class="col"> 
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                        </div>
                        <!--/.col-->
                        <div class="col-xl-4 col-md-4 col-sm-12">
                            <div class="wave text-center">
                                <h4>{{localize 'ratings.rating'}} <strong class="text-success">9.99</strong></h4>
                                <p>{{localize 'ratings.basedOn'}} <strong><a class="" href="/pharmacy#opinions">58 {{localize 'ratings.opinions'}}</a></strong></p>
                                <a class="btn btn-primary btn-lg justify" href="/drugs"><strong>33 661</strong> drugs</a>
                            </div>
                            <!--/.wave-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </li>  
				
                <li> 
					 
                	<table summary="" class="table table-hover"> 
                    	<tbody> 
                        	<tr>
                            	<td>
                                	<h4><a href="/service" title="">Foot Pain</a></h4>
                                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            	</td>
                            	<td>30 min.</td>
                            	<td class="price-td">from <strong class="text-dark">$24</strong><br /><strong class="text-success">240 MPT</strong></td>
                            	<td class="text-center"></td>
                            	<td><a class="btn btn-primary float-right" href="/doctors"><strong>1270</strong> doctors</a><br /><br /><a class="btn btn-secondary float-right" href="/clinics"><strong>240</strong> clinics</a></td>
                        	</tr>
                    	</tbody>
                	</table> 
                </li> 
				
                <li>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-5">
                            <a class="avatar" href="/clinic"><div class="crop"><img src="img/_demo/clinic1.jpg" alt="" /></div></a>
                            <div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of insurance points"><i class="fas fa-heartbeat"></i> Insurance</div> 
                            <div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of Help foundation"><i class="far fa-life-ring"></i> Help foundation</div>
                        </div>
                        <!--/.col-->
                        <div class="col-xl-6 col-lg-5 col-md-6 col-sm-7">
                            <h3><a class="" href="/clinic">General Hospital</a> <small>Public</small></h3>
                            <div><a href="/clinics">Dietology</a>, <a href="/clinics">Oncology</a>, <a href="/clinics">Traumatology</a> + 123 more</div>
                            <p>462 First Avenue, <a href="/clinics">New York</a>, <a href="/clinics">NY</a>, <a href="/clinics">United States</a></p>
                            <div class="row">
                                <div class="col">
									<div class="card">
                                    	<ul>
                                        	<li><small>Monday-Friday:</small> <br />8:00 - 17:00</li>
                                        	<li><small>Saturday:</small> <br />10:00 - 16:00</li>
                                        	<li><small>Sunday:</small> <br />12:00 - 14:00</li>
                                    	</ul>
									</div><!--/.card-->
                                </div>
                                <!--/.col-->
                                <div class="col">
                                    <div class="color-gray" data-toggle="tooltip" data-placement="top" title="Provides a transfer from the airport"><i class="fas fa-plane"></i> Airport transfer</div>
                                    <div class="" data-toggle="tooltip" data-placement="top" title="Available with bus routes"><i class="fas fa-bus"></i> Bus route</div>
                                    <div class="" data-toggle="tooltip" data-placement="top" title="Has free parking"><i class="fas fa-car"></i> Free parking</div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                        </div>
                        <!--/.col-->
                        <div class="col-xl-4 col-md-12 col-sm-12">
                            <div class="wave text-center">
                                <h4>{{localize 'ratings.rating'}} <strong class="text-success">9.99</strong></h4>
                                <p>{{localize 'ratings.basedOn'}} <strong><a class="" href="/clinic#opinions">58 {{localize 'ratings.opinions'}}</a></strong></p>
                                <a class="btn btn-primary btn-lg justify" href="/doctors"><strong>215</strong> doctors</a>
                                <div><a class="" href="/services"><strong>1425</strong> services</a></div>
                            </div>
                            <!--/.wave-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </li> 
				
                <li> 
					 
                	<table summary="" class="table table-hover"> 
                    	<tbody> 
                        	<tr>
                            	<td>
                                	<h4><a href="/service" title="">Diabetes Consultation</a></h4>
                                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            	</td>
                            	<td>30 min.</td>
                            	<td class="price-td">from <strong class="text-dark">$24</strong><br /><strong class="text-success">240 MPT</strong></td>
                            	<td class="text-center"></td>
                            	<td><a class="btn btn-primary float-right" href="/doctors"><strong>1270</strong> doctors</a><br /><br /><a class="btn btn-secondary float-right" href="/clinics"><strong>240</strong> clinics</a></td>
                        	</tr>
                    	</tbody>
                	</table> 
                </li> 
				
                <li> 
					 
                	<table summary="" class="table table-hover"> 
                    	<tbody> 
                        	<tr>
                            	<td>
                                	<h4><a href="/service" title="">Eating disorder</a></h4>
                                	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            	</td>
                            	<td>30 min.</td>
                            	<td class="price-td">from <strong class="text-dark">$24</strong><br /><strong class="text-success">240 MPT</strong></td>
                            	<td class="text-center"></td>
                            	<td><a class="btn btn-primary float-right" href="/doctors"><strong>1270</strong> doctors</a><br /><br /><a class="btn btn-secondary float-right" href="/clinics"><strong>240</strong> clinics</a></td>
                        	</tr>
                    	</tbody>
                	</table> 
                </li> 
				
                <li>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-5">
                            <a class="avatar" href="/clinic"><div class="crop"><img src="img/_demo/clinic1.jpg" alt="" /></div></a>
                            <div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of insurance points"><i class="fas fa-heartbeat"></i> Insurance</div> 
                            <div class="text-success" data-toggle="tooltip" data-placement="top" title="Participant in the program of Help foundation"><i class="far fa-life-ring"></i> Help foundation</div>
                        </div>
                        <!--/.col-->
                        <div class="col-xl-6 col-lg-5 col-md-6 col-sm-7">
                            <h3><a class="" href="/clinic">General Hospital</a> <small>Public</small></h3>
                            <div><a href="/clinics">Dietology</a>, <a href="/clinics">Oncology</a>, <a href="/clinics">Traumatology</a> + 123 more</div>
                            <p>462 First Avenue, <a href="/clinics">New York</a>, <a href="/clinics">NY</a>, <a href="/clinics">United States</a></p>
                            <div class="row">
                                <div class="col">
									<div class="card">
                                    	<ul>
                                        	<li><small>Monday-Friday:</small> <br />8:00 - 17:00</li>
                                        	<li><small>Saturday:</small> <br />10:00 - 16:00</li>
                                        	<li><small>Sunday:</small> <br />12:00 - 14:00</li>
                                    	</ul>
									</div><!--/.card-->
                                </div>
                                <!--/.col-->
                                <div class="col">
                                    <div class="color-gray" data-toggle="tooltip" data-placement="top" title="Provides a transfer from the airport"><i class="fas fa-plane"></i> Airport transfer</div>
                                    <div class="" data-toggle="tooltip" data-placement="top" title="Available with bus routes"><i class="fas fa-bus"></i> Bus route</div>
                                    <div class="" data-toggle="tooltip" data-placement="top" title="Has free parking"><i class="fas fa-car"></i> Free parking</div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                        </div>
                        <!--/.col-->
                        <div class="col-xl-4 col-md-12 col-sm-12">
                            <div class="wave text-center">
                                <h4>{{localize 'ratings.rating'}} <strong class="text-success">9.99</strong></h4>
                                <p>{{localize 'ratings.basedOn'}} <strong><a class="" href="/clinic#opinions">58 {{localize 'ratings.opinions'}}</a></strong></p>
                                <a class="btn btn-primary btn-lg justify" href="/doctors"><strong>215</strong> doctors</a>
                                <div><a class="" href="/services"><strong>1425</strong> services</a></div>
                            </div>
                            <!--/.wave-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </li>
				
            </ul>
 
			<div class="row pagination-line">
            	<div class="col">
					<nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                        <span class="page-link">2<span class="sr-only">(current)</span></span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            		</nav>
            	</div>
            	<!--/.col-->
            	<div class="col"> 
					<em>1-5 / 3154</em>
            	</div>
            	<!--/.col-->
          	</div>
          	<!--/.row-->

                </div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-2" role="tabpane2" aria-labelledby="pills-profile-tab">
                    Clinics
                </div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-3" role="tabpane2" aria-labelledby="pills-profile-tab">
                    Services
                </div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-4" role="tabpane3" aria-labelledby="pills-contact-tab">
                    Doctors
                </div>
                <!--/.tab-pane-->
                <div class="tab-pane fade" id="pills-5" role="tabpane4" aria-labelledby="pills-contact-tab">
                    Pharmacies
                </div>
                <!--/.tab-pane-->
            </div>
            <!--/.tab-content-->
 
    <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/footer.php"); ?>