<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sitemap</li>
    </ol>
</nav>

{{!-- <ul>
    <li><a href="/">Main page</a></li>
    <li><a href="/clinics">Clinics</a></li>

    <li>
        <ul>
            {{#each clinics as |clinic|}}
                <li><a href="/clinics/{{clinic.id}}">{{clinic.name}}</a></li>
            {{/each}}
        </ul>
    </li>
    
    <li><a href="/booking">Booking</a></li>
    <li><a href="/rates">MedPoints rates</a></li>
    <li><a href="/services">Services</a></li>
    
    <li>
        <ul>
            {{#each services as |service|}}
                <li><a href="/services/{{service.id}}">{{service.name}}</a></li>
            {{/each}}
        </ul>
    </li>

    <li><a href="/doctors">Doctors</a></li>

    <li>
        <ul>
            {{#each doctors as |doctor|}}
                <li><a href="/doctors/{{doctor.id}}">{{doctor.name}}</a></li>
            {{/each}}
        </ul>
    </li>

    <li><a href="/pharmacies">Pharmacies</a></li>
    
    <li>
        <ul>
            {{#each pharmacies as |pharmacy|}}
                <li><a href="/pharmacies/{{pharmacy.id}}">{{pharmacy.name}}</a></li>
            {{/each}}
        </ul>
    </li>

    <li><a href="/drugs">Drugs</a></li>
    
    <li>
        <ul>
            {{#each drugs as |drug|}}
                <li><a href="/drugs/{{drug.id}}">{{drug.name}}</a></li>
            {{/each}}
        </ul>
    </li>

    <li><a href="/registration">Registration</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/terms-of-use">Terms of use</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="/partnership">Partnership</a></li>
    <li><a href="/explorer">Blockchain explorer</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/faq">FAQ</a></li>
</ul> --}}









<ul>
    <li><a href="/">Main page</a></li>
    <li><a href="/clinics">Clinics</a></li>

    <li>
        <ul>
                <li><a href="/clinics/5b68396b03a93a1f2e1e561d">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68396c03a93a1f2e1e561e">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68396f03a93a1f2e1e561f">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68396f03a93a1f2e1e5620">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68396f03a93a1f2e1e5621">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5622">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5623">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5624">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5625">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5626">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5627">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5628">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e5629">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e562a">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397003a93a1f2e1e562b">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e562c">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e562d">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e562e">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e562f">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e5630">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e5631">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e5632">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e5633">Lice Clinics of America - Portland, OR</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e5634">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e5635">Lice Clinics of America - Spokane</a></li>
                <li><a href="/clinics/5b68397103a93a1f2e1e5636">Lice Clinics of America - Harrisburg, PA</a></li>
                <li><a href="/clinics/5b68397203a93a1f2e1e5637">Lice Clinics of America Woodbridge, VA</a></li>
                <li><a href="/clinics/5b68397203a93a1f2e1e5638">Lice Clinics of America - Herndon</a></li>
                <li><a href="/clinics/5b68397203a93a1f2e1e5639">Vein Clinics of America</a></li>
                <li><a href="/clinics/5b68397203a93a1f2e1e563a">Lice Clinics of America</a></li>
        </ul>
    </li>
    
    <li><a href="/booking">Booking</a></li>
    <li><a href="/rates">MedPoints rates</a></li>
    <li><a href="/services">Services</a></li>
    
    <li>
        <ul>
                <li><a href="/services/5b6839e803a93a1f2e1e5a05">First examination</a></li>
                <li><a href="/services/5b6839e803a93a1f2e1e5a06">Pregnancy care</a></li>
                <li><a href="/services/5b6839e803a93a1f2e1e5a07">Blood transfusion</a></li>
                <li><a href="/services/5b6839e803a93a1f2e1e5a08">Allergy skin testing</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a09">Sublingual therapy</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a0a">YouthFirst children</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a0b">Mammography screening</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a0c">Breast self-awareness and clinical breast examination</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a0d">Weight and exercise</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a0e">Family history and genetics</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a0f">Chemotherapy</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a10">Radiation therapy</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a11">Additional treatments</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a12">Sleep medicine</a></li>
                <li><a href="/services/5b6839e903a93a1f2e1e5a13">Cardiopulmonary rehabilitation</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a14">Laboratory testing</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a15">Pulmonary function testing</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a16">Restoring hormonal balance</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a17">Hepatitis C screening</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a18">Education and support</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a19">Massage therapy</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a1a">Medical fitness programs</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a1b">Capsule endoscopy</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a1c">Colonoscopy</a></li>
                <li><a href="/services/5b6839ea03a93a1f2e1e5a1d">Endoscopic retrograde cholangiopancreatography (ERCP)</a></li>
                <li><a href="/services/5b6839eb03a93a1f2e1e5a1e">Endoscopic ultrasound (EUS)</a></li>
                <li><a href="/services/5b6839eb03a93a1f2e1e5a1f">Esophagogastroduodenoscopy</a></li>
                <li><a href="/services/5b6839eb03a93a1f2e1e5a20">Flexible sigmoidoscopy</a></li>
                <li><a href="/services/5b6839eb03a93a1f2e1e5a21">Liver biopsy</a></li>
                <li><a href="/services/5b6839eb03a93a1f2e1e5a22">Radioablation of Barrett’s esophagus</a></li>
        </ul>
    </li>

    <li><a href="/doctors">Doctors</a></li>

    <li>
        <ul>
                <li><a href="/doctors/5bf1b6928436ac253aec0e8b">Ignacia Calhoun</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e8c">Ronan Thomas</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e8d">Stacey Merrill</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e8e">Wing Newton</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e8f">Scarlett Wiggins</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e90">Remedios Ramirez</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e91">Dacey Keller</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e92">Mia Watts</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e93">Emerald Richard</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e94">Ariana Becker</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e95">Kennan Lane</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e96">Philip Callahan</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e97">Myles Oneal</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e98">May Hyde</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e99">Gisela West</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e9a">Eve Wilson</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e9c">Lenore Doyle</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e9e">Reagan Hendrix</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea0">Robin Branch</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e9b">Mariam Burns</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e9d">Kasper Morales</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0e9f">Alfonso Livingston</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea1">Tanisha Haney</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea2">Wing Barlow</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea3">Joelle Pope</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea4">Ishmael Rose</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea5">Urielle Clay</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea6">Lyle Cobb</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea7">Sierra Hardy</a></li>
                <li><a href="/doctors/5bf1b6928436ac253aec0ea8">Chantale Hayes</a></li>
        </ul>
    </li>

    <li><a href="/pharmacies">Pharmacies</a></li>
    
    <li>
        <ul>
                <li><a href="/pharmacies/5b6ae63db1651654504ca08f">Pharmcare USA Phoenix</a></li>
                <li><a href="/pharmacies/5b6ae63db1651654504ca090">US Drug Mart</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca091">Sam&#x27;s Health Mart Pharmacy # 2</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca092">Walgreens</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca093">CVS Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca094">Haggen Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca095">Haggen Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca096">Health Mart</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca097">Balbonis Drug Store</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca098">Hannaford Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca099">Hannaford Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63eb1651654504ca09a">Bloomfield Drug Store</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca09b">Becky&#x27;s Drugstore</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca09c">The Pharmacist at Walmart</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca09d">Wellington Healthmart Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca09e">Caldwell Compounding Health Mart Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca09f">St Mary Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca0a0">MDR Encino Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca0a1">Pharmacy of America IV - N. 9th Street</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca0a2">Walmart Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca0a3">CVS Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae63fb1651654504ca0a4">Northside PharmaChoice</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0a5">Canadian Pharmacy World</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0a6">Canadian Compounding Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0a7">Central Medical Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0a8">Webber Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0a9">CVS Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0aa">Dokimos&#x27; East Main Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0ab">Dokimos Nevada City Pharmacy</a></li>
                <li><a href="/pharmacies/5b6ae640b1651654504ca0ac">Healthxchange Pharmacy (UK) Ltd</a></li>
        </ul>
    </li>

    <li><a href="/drugs">Drugs</a></li>
    
    <li>
        <ul>
                <li><a href="/drugs/5b682e0fed65091789259212">INCB13739</a></li>
                <li><a href="/drugs/5b682e0fed65091789259213">ABT-384</a></li>
                <li><a href="/drugs/5b682e0fed65091789259215">Fludrocortisone</a></li>
                <li><a href="/drugs/5b682e0fed65091789259216">Hydrocortisone</a></li>
                <li><a href="/drugs/5b682e0fed65091789259217">Cortisone acetate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259218">anecortave acetate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259219">ME-609</a></li>
                <li><a href="/drugs/5b682e0fed6509178925921a">NCX 1022</a></li>
                <li><a href="/drugs/5b682e0fed6509178925921b">Tixocortol</a></li>
                <li><a href="/drugs/5b682e0fed6509178925921c">Anecortave</a></li>
                <li><a href="/drugs/5b682e0fed6509178925921d">Cortexolone 17α-propionate</a></li>
                <li><a href="/drugs/5b682e0fed6509178925921e">Hydrocortisone aceponate</a></li>
                <li><a href="/drugs/5b682e0fed6509178925921f">Hydrocortisone acetate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259220">Hydrocortisone butyrate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259221">Hydrocortisone cypionate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259222">Hydrocortisone phosphate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259223">Hydrocortisone probutate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259224">Hydrocortisone valerate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259225">Hydrocortisone succinate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259227">Trilostane</a></li>
                <li><a href="/drugs/5b682e0fed65091789259229">PLATENSIMYCIN</a></li>
                <li><a href="/drugs/5b682e0fed6509178925922b">Dicoumarol</a></li>
                <li><a href="/drugs/5b682e0fed6509178925922c">Warfarin</a></li>
                <li><a href="/drugs/5b682e0fed6509178925922d">Phenprocoumon</a></li>
                <li><a href="/drugs/5b682e0fed6509178925922e">Acenocoumarol</a></li>
                <li><a href="/drugs/5b682e0fed6509178925922f">Ethyl biscoumacetate</a></li>
                <li><a href="/drugs/5b682e0fed65091789259231">Willardiine</a></li>
                <li><a href="/drugs/5b682e0fed65091789259233">Ramipril</a></li>
                <li><a href="/drugs/5b682e0fed65091789259234">Fosinopril</a></li>
                <li><a href="/drugs/5b682e0fed65091789259235">Trandolapril</a></li>
        </ul>
    </li>

    <li><a href="/registration">Registration</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/terms-of-use">Terms of use</a></li>
    <li><a href="/privacy-policy">Privacy Policy</a></li>
    <li><a href="/partnership">Partnership</a></li>
    <li><a href="/explorer">Blockchain explorer</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/faq">FAQ</a></li>
</ul>
