
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">{{localize req 'breadcrumbs.home'}}</a></li>
            <li class="breadcrumb-item"><a href="/blog">{{localize req 'breadcrumbs.blog'}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{{blogArticle.title}}}</li>
        </ol>
    </nav>
	
	<div class="row">
                
		<div class="col">

    		<h2>{{{blogArticle.title}}}</h2>

            <br />

            {{#if blogArticle.date}}
            <div><b>{{blogArticle.date}}</b></div>
            <br />
            {{/if}}
	
			<p>{{{blogArticle.text}}}</p>
    	</div>
    	<!--/.col-->
		
    </div>
    <!--/.row-->