    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/pharmacies">Pharmacies</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ pharmacy.name }}</li>
        </ol>
    </nav>
 
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <div class="avatar crop">
                        <img src="{{pharmacy.photos}}" alt="The clinic photo"
                             onerror="this.onerror=null;this.src='/img/logo_stub.svg';this.style.width='100px';" />
                    </div>
                </div>
                <div class="col-xl-8 col-md-12">
                    <p>
                        <a href="https://www.google.com/maps/search/?api=1&query={{pharmacy.location.address}}">
                            {{pharmacy.location.address}}
                        </a>
                    </p>
                    <div class="row">
                        <div class="col">
							<div class="card">
                               <ul>
									{{#each pharmacy.work_time as |work_time|}}
                                    <li><small>{{ work_time.weekdays }}:</small> <br />{{ work_time.time }}</li>
                                    {{/each}}
                               </ul>
							</div><!--/.card-->
                        </div>
                        <!--/.col-->
                    </div>
                    <!--/.row-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->

            <hr />

            <p>{{ pharmacy.short_descr }}</p>

            <div class="table-responsive">
                <table summary="" class="table table-hover">
                    <tbody>
                        <tr>
                            <td><strong>Network</strong></td>
                            <td>{{pharmacy.network}}</td>
                        </tr>
                        <tr>
                            <td><strong>Site</strong></td>
                            <td><a href="{{pharmacy.site}}">Go to site</a></td>
                        </tr>
                        <tr hidden>
                            <td><strong>Beds</strong></td>
                            <td>1,500 (1,160 general, 340 psychiatric)</td>
                        </tr>
                        <tr hidden>
                            <td><strong>Hospital type</strong></td>
                            <td>Teaching</td>
                        </tr>
                        <tr hidden>
                            <td><strong>Affiliated university</strong></td>
                            <td>NYU School of Medicine</td>
                        </tr>
                        <tr hidden>
                            <td><strong>Emergency department</strong></td>
                            <td>Level I trauma center</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--/.table-responsive-->


            <h3>Pharmacy gallery</h3>

            <div class="gallery">
                <ul class="owl-carousel owl-theme">
                    {{#each pharmacy.photos as |photoLink|}}
                        <li class="item"><a class="gallery-img" href="{{photoLink}}"><img src="{{photoLink}}"/></a></li>
                    {{/each}}
                </ul>
            </div>


        </div>
        <!--/.col-->
        <div class="col-xl-6 col-md-12">

            <nav class="sticky-top">

                <div class="row">
				
                    <div class="col-xl-6 col-lg-12">

                        <div class="wave text-center">
                            <h4>Rating <strong class="text-success">9.99</strong></h4>
                            <p>based on <strong><a class="" href="#opinions">58 opinions</a></strong></p> 

                            <ul class="rating"> 
							
                                <li class="row">
                                    <div class="col text-right">
                                        Service
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                <span class="sr-only">6/10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </li>
                                <!-- end row -->
                                <li class="row">
                                    <div class="col text-right">
                                        Price / Quality
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-striped">
                                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                <span class="sr-only">7/10</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </li>
                                <!-- end row -->

                            </ul>
                            <!--/.rating-->
							
                            <p><a class="btn btn-primary btn-lg justify" href="/drugs?pharmacyId={{pharmacy.id}}"><strong>{{ pharmacy.drugs.length }}</strong> drugs</a></p>

                            <p hidden>In favorites at <strong>462</strong> users</p>

                            <a hidden class="btn btn-secondary justify" href="#"><i class="far fa-heart"></i> Add to favorite</a>

                        </div>
                        <!--/.wave-->
                    </div>
                    <!--/.col-->
                    
					<div class="col-xl-6 col-lg-12">
						<div class="map hidden-lg-down" style="height: 300px">
						</div><!--/.map-->
						<div class="hidden-xl-up"><br /><a class="btn-map" href="#" data-toggle="collapse" data-target="#showMap"><i class="fas fa-map-marker"></i> Show on map</a>
							<div class="map" style="height: 300px"></div>
                            <script>
                                var pharmacy = {{{jsonify pharmacy}}};
                                function initLocationMap() {
                                    $('.map').each(function (_, el) {
                                        var center = {lat: pharmacy.coordinations.lat, lng: pharmacy.coordinations.lon};
                                        var map = new google.maps.Map(
                                            el,
                                            {center: center, zoom: 9}
                                        );

                                        
                                        var infowindow = new google.maps.InfoWindow({
                                            content: ''
                                        });
                                        var marker = new google.maps.Marker({
                                            position: {lat: pharmacy.coordinations.lat, lng: pharmacy.coordinations.lon}, 
                                            title: pharmacy.name,
                                            map: map,
                                        });

                                        google.maps.event.addListener(marker, 'click', (function(marker, content, infowindow){ 
                                            return function() {
                                                infowindow.setContent(content);
                                                infowindow.open(map, marker);
                                            };
                                        })(marker, getInfoWindowContent(pharmacy), infowindow));
                                    })

                                }

                                function getInfoWindowContent(pharmacy) {
                                    return '<div class="info-window">' +
                                            '<h5>' + (pharmacy.name || '') + '</h5>' +
                                            '<i>' + (pharmacy.location.address || '') + '</i><br/>' +
                                            '<a href="/pharmacy/' + pharmacy.id.toString() + '">View Clinic</a>'
                                    '</div>';
                                }
                            </script>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA839hvZlHkWX80W6YRTuv3C7HToNVZhwc&callback=initLocationMap">
                            </script>
                        </div>
                    </div>
                    <!--/.col-->
					
                </div>
                <!--/.row-->
 
            </nav>
 
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

	<br />

    <section class="bg-gray">

        <div class="reviews" id="opinions">

            <h3>Opinions <span class="badge">8</span></h3>
            <ul class="owl-carousel owl-theme">
                <li class="item">
                    <em>June 15 2017</em> 
                    <span class="stars good">
							8 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei, amet tritani sea id. Ut veri diceret fierent mei, qui facilisi suavitate euripidis ad. In vim mucius menandri convenire, an brute zril </p>
                </li>
                <li class="item">
                    <em>June 15 2017</em>
                    <span class="stars normal">
							6 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei, amet tritani sea id.</p>
                </li>
                <li class="item">
                    <em>June 15 2017</em>
                    <span class="stars bad">
							3 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei, amet tritani sea id. Ut veri diceret fierent mei, qui facilisi suavitate euripidis ad. In vim mucius menandri convenire, an brute zril
                        vis. Ancillae delectus necessitatibus no eam, at porro solet veniam mel, ad everti nostrud vim. Eam no menandri pertinacia deterruisset.</p>
                </li>
                <li class="item">
                    <em>June 15 2017</em>
                    <span class="stars good">
							8 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei, amet tritani sea id. Ut veri diceret fierent mei, qui facilisi suavitate euripidis ad. In vim mucius menandri convenire, an brute zril.</p>
                </li>
                <li class="item">
                    <em>June 15 2017</em>
                    <span class="stars good">
							8 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei, amet tritani sea id. Ut veri diceret fierent mei, qui facilisi suavitate euripidis ad. In vim mucius menandri convenire, an brute zril
                        vis. Ancillae delectus necessitatibus no eam, at porro solet veniam mel, ad everti nostrud vim. Eam no menandri pertinacia deterruisset.</p>
                </li>
                <li class="item">
                    <em>June 15 2017</em>
                    <span class="stars normal">
							6 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei.</p>
                </li>
                <li class="item">
                    <em>June 15 2017</em>
                    <span class="stars bad">
							3 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei, amet tritani sea id..</p>
                </li>
                <li class="item">
                    <em>June 15 2017</em>
                    <span class="stars good">
							8 / 10
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<i class="far fa-star"></i>
						</span>
                    <p>Lorem ipsum dolor sit amet, dolores mandamus moderatius ea ius, sed civibus vivendum imperdiet ei, amet tritani sea id. Ut veri diceret fierent mei, qui facilisi suavitate euripidis ad..</p>
                </li>
            </ul>
        </div>
        <!--/.reviews-->

    </section>

    <?php include($_SERVER["DOCUMENT_ROOT"]."/inc/footer.php"); ?>