<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{localize 'breadcrumbs.home'}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{PAGE_TITLE}}</li>
    </ol>
</nav>
<section class="bg-gray">

    <form class="filter">
            <div class="row">
                <div class="col-sm-9">
                    <h3>Location</h3>
                    <label class="custom-control custom-radio">
                        <input id="locationRadio1" name="filter[city]" value="home" type="radio" class="custom-control-input" {{#if (equals filter.city 'home') }}checked{{/if}}>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">In your city</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="locationRadio2" name="filter[city]" value="worldwide" type="radio" class="custom-control-input" {{#if (equals filter.city 'worldwide') }}checked{{/if}}>
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Worldwide</span>
                    </label>
                </div>
                <!--/.col-->
				
                <div class="col-sm-3">
                    {{!-- <button type="button" id="btn-more" class="btn btn-secondary collapsed filter-button" data-toggle="collapse" data-target="#moreFilters" aria-expanded="false"><i class="fas fa-angle-down"></i> More filters</button> --}}
                    <button type="submit" id="btn-more" class="btn btn-primary filter-button">Apply Filters</button>
                </div>
                <!--/.col-->
				
            </div>
            <!--/.row-->

            {{!-- <div class="collapse" id="moreFilters" aria-expanded="false" style="">
			
                <hr>
				
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-sm-12">

                        <h3>Sort by</h3>
                        <label class="custom-control custom-radio">
							<input id="sortRadio1" name="filter[sort]" value="rating" type="radio" class="custom-control-input" {{#if (equals filter.sort 'rating') }}checked{{/if}}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">By rating</span>
						</label>
                        <label class="custom-control custom-radio">
							<input id="sortRadio1" name="filter[sort]" value="price" type="radio" class="custom-control-input" {{#if (equals filter.sort 'price') }}checked{{/if}}>
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description">By prices</span>
						</label>
                    </div>
                    <!--/.col-->
                    <div class="col-xl-3 col-md-6 col-sm-12">

                        <h3>Max price: <span id="maxPriceLabel">{{filter.maxPrice}}</span> MPT</h3>

                        <input class="justify" type="range" min="0" max="100" id="maxPriceRange" name="filter[maxPrice]" value="{{filter.maxPrice}}">
                        <script>
                            var slider = document.getElementById("maxPriceRange");
                            var output = document.getElementById("maxPriceLabel");
                            output.innerHTML = slider.value;
                            
                            slider.oninput = function() {
                                output.innerHTML = this.value;
                            }
                        </script>
 
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div> --}}
            <!--/.collapse-->
        </form>

</section>

<div class="row">

    <div class="col-xl-4 push-xl-8 col-lg-12 push-lg-0">

        <nav class="sticky-top">
            <div id="map" style="height:400px">
            </div>
            <!--/.map-->
            <script>
                var locations = {{{jsonify pharmacies}}};
                var avgCoordinates = {{{jsonify avgCoordinates}}}
                $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
                    var target = $(e.target).attr("href") // activated tab
                    if (target === '#pills-2') {
                        initLocationsMap(); // google map init function
                    }
                });

                function initLocationsMap() {
                    var center = avgCoordinates || {
                        lat: 39.529,
                        lng: -101.369
                    };

                    if (locations.length === 1) {
                        center.lat = locations[0].coordinations.lat;
                        center.lng = locations[0].coordinations.lon;
                    }
                    var map = new google.maps.Map(
                        document.getElementById('map'), {
                            center: center,
                            zoom: 3
                        }
                    );
                    var infowindow = new google.maps.InfoWindow({
                        content: ''
                    });

                    for (var i = 0, length = locations.length; i < length; i++) {
                        var hospital = locations[i];
                        var marker = new google.maps.Marker({
                            position: {
                                lat: hospital.coordinations.lat,
                                lng: hospital.coordinations.lon
                            },
                            title: hospital.name,
                            map: map,
                        });

                        google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                            return function () {
                                infowindow.setContent(content);
                                infowindow.open(map, marker);
                            };
                        })(marker, getInfoWindowContent(hospital), infowindow));
                    }
                }

                function getInfoWindowContent(pharmacy) {
                    return '<div class="info-window">' +
                        '<h5>' + (pharmacy.name || '') + '</h5>' +
                        '<i>' + (pharmacy.address || '') + '</i><br/>' +
                        '<a href="/pharmacies/' + pharmacy.id.toString() + '">View Pharmacy</a>'
                    '</div>';
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA839hvZlHkWX80W6YRTuv3C7HToNVZhwc&callback=initLocationsMap">
            </script>
        </nav>

    </div>
    <!--/.col-->

    <div class="col-xl-8 pull-xl-4 col-lg-12 pull-lg-0 pharmacies-list">

        <ul class="items-list">
            {{#each pharmacies as |pharmacy|}}
            <li>
                <div class="row">
                    <div class="col-xl-3 col-md-3 col-sm-4">
                        <a class="avatar" href="/pharmacies/{{ pharmacy.id }}">
                            <div class="crop">
                                <img src="{{pharmacy.photos}}" alt="The pharmacy photo" onerror="this.onerror=null;this.src='/img/logo_stub.svg';this.style.width='100px';" />
                            </div>
                        </a>
                    </div>
                    <!--/.col-->
                    <div class="col-xl-5 col-md-5 col-sm-8">
                        <h3><a class="" href="/pharmacies/{{ pharmacy.id }}">{{ pharmacy.name }}</a></h3>
                        <p>
                            <a href="https://www.google.com/maps/embed/place?key=1&q={{pharmacy.location.address}}"
                                data-name="{{ pharmacy.name }}" class="map-toggle">
                                {{pharmacy.location.address}}
                            </a>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <ul>
                                        {{#each pharmacy.work_time as |work_time|}}
                                        <li>
                                            <small>{{ work_time.weekdays }}:</small>
                                            <br />{{ work_time.time }}</li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <!--/.card-->
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.col-->
                    <div class="col-xl-4 col-md-4 col-sm-12">
                        <div class="wave text-center">
                            <h4>{{localize 'ratings.rating'}} <strong class="text-success">{{pharmacy.rate}}</strong></h4>
                            <p>{{localize 'ratings.basedOn'}}
                                <strong>
                                    <a class="" href="/pharmacies/{{pharmacy.id}}#opinions">{{pharmacy.ratings.length}}
                                        {{localize 'ratings.opinions'}}</a>
                                </strong>
                            </p>
                            <a class="btn btn-primary btn-lg justify" href="/drugs?pharmacyId={{pharmacy.id}}"><strong>{{
                                    pharmacy.drugs.length }}</strong> {{localize 'ratings.items.drugs'}}</a>
                        </div>
                        <!--/.wave-->
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </li>
            {{/each}}
        </ul>

        <div class="row pagination-line">
            <div class="col">
                <nav aria-label="...">
                    {{> pager pagerInfo }}
                </nav>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->

    </div>
    <!--/.col-->
</div>
<!--/.row-->